* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.calculator {
  background-color: black;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 320px;
  flex-direction: column;
  color: aliceblue;
  margin-top: 10%;
}
.display {
  border: 2px #000 solid;
  background-color: rgb(220, 221, 221);
  height: 4rem;
  width: 100%;
  /* display: flex;
  align-items: center;
  align-self: flex-end; */
}
.display p {
  padding-right: 5px;
  color: black;
  padding-top: 17px;
  float: right;
  font-size: 20px;
}

.keybard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.operands {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-column-gap: 0px;
}
.operands button:last-child {
  background-color: aquamarine;
}
.operators {
  display: flex;
  flex-direction: column;
}
.operators button {
  width: 80px;
  height: 48px;
  padding: 0.5rem;
  background-color: rgb(112, 50, 50);
  color: aliceblue;
  font-size: 26px;
}
button {
  border-radius: 10px;
  background-color: rgb(127, 131, 130);
  font-size: 20px;
  width: 80px;
  height: 60px;
  padding: 0.5rem;
}
